body {
    background-color: lightgray;
    /* border: 1px solid orange; */
}

.wrapper {
  display: grid;
  grid-template-areas: "a b c";
  /* border: 1px dotted red; */
}

#fifth {
  grid-area: b;
  justify-self: center;
}
